<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retire.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.retire.pojo.SysUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="valid" jdbcType="BIT" property="valid" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="twitter" jdbcType="VARCHAR" property="twitter" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="avatarul" jdbcType="VARCHAR" property="avatarul" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="session_key" jdbcType="VARCHAR" property="sessionKey" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.retire.pojo.SysUser">
    insert into sys_user (user_id, role_id, user_name, 
      pwd, title, phone_number, 
      valid, user_type, unit, 
      id_card, create_time, update_time, 
      email, qq, intro, twitter, 
      sex, nation, education, 
      birthday, address, avatarul, 
      city, province, country, 
      session_key, openid)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{valid,jdbcType=BIT}, #{userType,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{email,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, #{twitter,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, #{avatarul,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, 
      #{sessionKey,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.retire.pojo.SysUser">
    update sys_user
    set role_id = #{roleId,jdbcType=INTEGER},
      user_name = #{userName,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=BIT},
      user_type = #{userType,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      twitter = #{twitter,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      avatarul = #{avatarul,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      session_key = #{sessionKey,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, role_id, user_name, pwd, title, phone_number, valid, user_type, unit, 
    id_card, create_time, update_time, email, qq, intro, twitter, sex, nation, education, 
    birthday, address, avatarul, city, province, country, session_key, openid
    from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, role_id, user_name, pwd, title, phone_number, valid, user_type, unit, 
    id_card, create_time, update_time, email, qq, intro, twitter, sex, nation, education, 
    birthday, address, avatarul, city, province, country, session_key, openid
    from sys_user
  </select>
</mapper>